<h1>Courses at the Department of History</h1>
<%= image_tag "grande_vigie.jpg", :class => "right" %>
<p>The three Bachelor (3 years) and two Master (2 years) degree courses offered by the Department of History are designed to present coherent semester programmes and, where applicable, some progression between years. However, if your home university has no objections, we are happy to let Socrates students "cherry-pick" individual units across our different degree courses and even across years. Not all third-year courses for instance require specific knowledge or skills obtained in first- or second-year courses. If you want to select a course which does not correspond to your level of study at your home university (a first-year course for example when you are already a third-year student) it may be possible (at the discretion of course directors) to arrange for a supplementary extended essay in addition to the ordinary exams.</p>

<p>We are also happy to let you choose some units from other departments in our Faculty (Geography, Modern Languages, Creole and Education). We would be happy however if you were to choose the majority of your course units from the History tripos – for the simple reason that the contingencies of the timetable restrict the choice of units from other departments. If you are going to stay only one semester at the department you should also note that odd-numbered courses are only available during the winter term, even-numbered courses during the spring term.</p>

<p>Our undergraduate programme includes some units on Caribbean, American and colonial history – the main research strength of our Department – but also offers more general history courses, covering the whole range from antiquity to contemporary history. Even though we expect that Socrates students may wish to study at our Department because they want to take courses which are not on offer at their home university – not many other European universities teach Caribbean archaeology for example –, we would like to reassure you that our programme remains at the same time sufficiently "universal" to allow for the easy recognition of equivalent ECTS credits.</p>
<%= image_tag "case_trinite.jpg", :class => "left" %>
<p>If you want to participate in our Master programme you should take into account that only the first year is a fully taught course. The second term of the second year is reserved for the writing of the MA thesis and thus cannot be undertaken by students who have not taken the first year of the Master programme. On the other hand, if you are planning to stay only for one semester you are welcome of course to take the second-year Master courses of the first semester.</p>

<p>The Department also offers a one-year diploma course in Development and Protection of Cultural Heritage. We are of course happy for Socrates students to take this course, but would like to advise that it is mainly aimed at professionals having already some experience in relevant domains. Also given that the diploma is neither part of the Bachelor nor the Master programme, you have to check with your home university whether they would be happy for you to take the diploma course.<p/>
	<p>
Teaching for all courses is divided into two 12 week terms. The winter term starts in early September and is followed by exams in December and January (only for students who have failed their papers in the December session). The spring term starts  in early February, with exams in May and June (once again only for those who have failed the first session). Lectures as well as exams end in early July. Facilities, especially at our Schoelcher campus (but increasingly also at our  branch department in Saint Claude on Guadeloupe) are of reasonable quality.<p/>
<p><a href="http://www.univ-ag.fr/buag" title="B.U. Antilles-Guyane">The University Library</a> in Schoelcher is sufficient for all the needs of an undergraduate or graduate student in History and also boast a special collection of local and regional materials for researchers in Caribbean and related history. The University Library also subscribes to most of the usual online databases like JSTOR or ScienceDirect. There is a large number of public-access IT terminals not only in the library, but also across departments on the campus of Schoelcher, most of which is  covered by the university wireless network to which students have full access.
</p>
<p>In addition to courses in History, the International Office (BRI) runs a non-credit language course (grammar, writing, conversation) to help you get up to speed. We would like to stress however that without a solid knowledge of French before coming here you will, at least at the beginning of term, find it difficult to follow lectures in History</p>