<h2>Historians and the History of the University</h2>
<%= image_tag "theatre.jpg", :class => "right", :alt => "théatre Saint Pierre" %>
<ul class="dates">
	<li><span class="date">1964 </span>Foundation of the Centre for Higher Education in the Arts (CESL) in Pointe-à-Pitre. The Centre is directed by Jacques Adélaïde-Merlande, a renowned specialist of the history of the Antilles.</li>
	<li><span class="date">1970 </span>The Centre is replaced by the Faculty of Arts and Humanities.</li>
	<li><span class="date">1978 </span>The Faculty of Arts and Humanities moves to Martinique (while the Faculty of Natural Sciences moves to Guadeloupe). A Sub-Faculty of Arts and Humanities, dependant on the Faculty in Martinique, continues to operate in Guadeloupe. Between 1995 and 2000 the Sub-Faculty is directed by a historian from the Department of History.</li>
	<li><span class="date">1982 </span>Foundation of the University of the Antilles and Guyana (replacing the Centre for Higher Education of the Antilles and Guyana). The first president of the University is the historian Jacques Adélaïde-Merlande.</li>
	<li><span class="date">1983 </span>Launch of the research group Industrial Archaeology, History and Heritage (AIP), which later becomes the group Industrial Archaeology, History and Heritage of the Caribbean (AIHP). Together with the geographers of the GEODE group, the historians of the AIHP form the research team EA 929.</li>
	<li><span class="date">2003 </span>Inauguration of the Camp Jacob campus at Saint-Claude on Guadeloupe. The campus is home to the Pluridisciplinary Department of Arts and Humanities which incorporates two sections: History and Modern Languages. The director of the Pluridisciplinary Department is a historian from the Department of History. In 2006/7 a degree course in English starts at Camp Jacob. </li>
</ul>
<%= image_tag "bornes_couloir.jpg", :class => "left" %>
<h2>Historians on the move</h2>
<p>Today members of teaching staff in History live and work either on Martinique or on Guadeloupe – one member of the Department lives in Guyana. The Department is united by members of staff travelling between the three sites, mainly for short-term periods. The Department also extensively uses video-conferencing in its teaching..</p>

<p>The historians of the AIHP group are members of the <a href="http://www.geocities.com/achbulletin" title="Association of Caribbean Historians - Main page">Association of Caribbean Historians</a> based in Barbados. The Association has 450 members spread over all continents. An annual conference, necessarily held either in the Caribbean or a nearby country, allows members to meet – for instance in Trinidad, Jamaica, Porto Rico, Surinam or indeed the French Antilles. </p>

<h2>A Department open to the world, but also its own neighbourhood</h2>

<p>Open to the Caribbean the Department of History adds to its geographic focus a solid competence in extra-Caribbean history. It incorporates dynamic Sub-Departments in both ancient and medieval history. Indeed, the current head of department is a medievalist. The Department has an international recruitment policy for its teaching staff, one of its senior lecturers in medieval history comes from Yugoslavia, one assistant lecturer in ancient history has previously worked in Cambridge. The Department is equally international as far as its students are concerned, taking full advantage of the implementation of the Bachelor-Master-PhD structure in 2006/7 to use the opportunities afforded by the Erasmus and Socrates programmes.</p>
<p>The Department is also shaped by its participation in the dynamics of local culture: active exchange exists with local governments, museums on Martinique and Guadeloupe and the Regional Directorate of Cultural Affairs. These links are well established and of long standing.</p>

<h2>A Department open to Life</h2>

<p>The Department of History, integral part of the Faculty of Arts and Humanities, situated on a Campus turned to the future, keenly cultivates the art of living together. The Department lives together both in serious discussions in its offices and in the parties which it likes to organise. Its  conviviality, tolerance and humour (a quality which has been essential during the implementation of the Bachelor-Master-PhD reform) make it a really attractive place to work and study.</p>