<h2>Des historiens en phase avec le développement de l’université </h2> 
<%= image_tag "theatre.jpg", :class => "right" %>
<ul class="dates">
	<li><span class="date">1964 </span> création du Centre d’Enseignement Supérieur Littéraire à Pointe-à-Pitre, dirigé par Jacques Adélaïde-Merlande, spécialiste réputé d’histoire antillaise.</li>
<li><span class="date">1970 </span>le CESL est remplacé par l’UFR des Lettres et Sciences Humaines.</li>
<li><span class="date">1978 </span>l’UFR Lettres et Sciences Humaines déménage en Martinique (et l’UFR Sciences part en Guadeloupe). Une antenne des Lettres et Sciences Humaines, dépendant de la Martinique, va continuer d’exister en Guadeloupe. Une historienne du département d’histoire en a été la responsable entre 1995 et 2000.</li>
<li><span class="date">1982 </span>création de l’Université des Antilles et de la Guyane, en remplacement du Centre Universitaire des Antilles et de la Guyane ; son premier président est Jacques Adélaïde-Merlande.</li>

<li><span class="date">1983 </span>création du groupe de recherche Archéologie industrielle, Histoire, Patrimoine, AIP, devenu ensuite Archéologie industrielle, Histoire, Patrimoine de la Caraïbe, formant avec les géographes de GEODE l’équipe d’accueil EA 929.</li>
<li><span class="date">2003 </span>ouverture du campus de Camp Jacob (à Saint-Claude, Guadeloupe) et création sur ce campus du Département Pluridisciplinaire de Lettres et Sciences Humaines, qui comporte deux filières, Histoire et Lettres Modernes. Le directeur est un historien du département. A la rentrée 2006/7, une première année d’ Anglais s’y est ajoutée.</li>
</ul>
<%= image_tag "bornes_couloir.jpg", :class => "left" %>
<h2>Des historiens qui bougent</h2>

<p>Aujourd’hui, les membres de l’équipe pédagogique d’Histoire vivent soit en Martinique soit en Guadeloupe, soit, pour l’un d’entre eux, en Guyane. Des missions mettent en relation permanente les trois sites, ainsi que le recours à la visio-conférence.</p>

<p>Les historiens du groupe de recherche AIHP sont membres de l’Association des Historiens de la Caraîbe (<a href="http://www.geocities.com/achbulletin/" title="Association of Caribbean Historians - Main page">Association of Caribbean Historians</a>), basée à la Barbade, qui compte 450 adhérents répartis sur tous les continents. Un colloque annuel, qui se tient obligatoirement dans la Caraïbe ou ses bordures, leur permet de se retrouver par exemple à Trinidad, à la Jamaïque, à Porto-Rico, au Surinam, ou dans les Antilles françaises.</p>

<h2>Un département ouvert sur le monde mais aussi sur son environnement immédiat</h2>

<p>Ouvert sur la Caraïbe, le département d’histoire double cet ancrage géographique de solides assises dans l’histoire extra-antillaise (des sous-départements dynamiques en histoire ancienne et en histoire médiévale). L’actuelle directrice du département est d’ailleurs une médiéviste. Il recourt également au vivier international pour ses enseignants, un MCF d’histoire médiévale né dans l’ancienne Yougoslavie, un ATER d’histoire ancienne de nationalité allemande, et pour ses étudiants, par le biais d’Erasmus et des possibilités d’échanges Socrates générées par le LMD.</p>
<p>Il reste par ailleurs très motivé par sa participation au dynamisme culturel local : les liens avec les collectivités locales, les musées martiniquais ou guadeloupéens, les Directions Régionales des Affaires Culturelles sont anciens et reconnus.</p>

<h2>Un département ouvert sur la vie</h2>

<p>Le département d’histoire, dans une Faculté des Lettres établie sur un campus pimpant, est un de ceux qui cultivent le plus volontiers l’art de vivre ensemble, à la fois par les discussions sérieuses dans les bureaux et les retrouvailles festives qu’il aime à susciter. Ses qualités de convivialité, de tolérance et d’humour (ces dernières particulièrement nécessaires pour survivre à la mise en place du LMD !) lui confèrent une réelle attractivité.</p>