<a name="presentation"></a><h2>Presentation</h2>
<p>As of 2006/7 the Department offers three degree course leading to a Bachelor of History after three years of study. The main department at the Schœlcher Campus on Martinique offers <strong>History – Historical Sciences</strong>, as well as <strong>History – Geography minor</strong>.</p>
<%= image_tag "spierre.jpg", :class => "right" %>
<a name="hist_scien_hist"></a><p>The first degree course is targeted at students who after their bachelor degree plan to pursue research at postgraduate level. The History – Geography minor has in mind students who want to attempt the French secondary-school teacher qualifications. However, there is no strong bias towards driving students into a secondary-school career and the course will also serve well students who plan on a research career in History – environmental history for example – where a solid foundation in Geography is an advantage.</p>
<%= image_tag "ruines_spierre.jpg", :class => "left" %>
<a name="hist_geo_sien_so"></a><p>The branch department at the Saint Claude Campus on Guadeloupe offersa third degree course, <strong>History, Institutions and Social Sciences</strong>. Students in this degree course have approximately 60% of their teaching in History with the rest being made up by Law and Economics. This course again offers advantages to students who seek to enter the French civil service through various forms of qualification, but has also been designed with students in mind who plan a research career in Social and Political Sciences.
</p>
<p>Alongside the three-year degree course leading to a Bachelor degree the Department of History in cooperation with the Department of Geography also offers a one-year diploma ("Licence professionnelle") in <%= link_to "Development and Protection of Cultural Heritage", document_by_name("LPro-flyer.pdf") %>. This course is meant – especially, but not exclusively – for professionals already working in culture and heritage related domains who wish to acquire a supplementary qualification. Teaching for this course alternates between our two sites in Martinique and in Guadeloupe, and is made  available for students on both sites via a videolink. </p>
<a name="enseignement"></a><h2>Courses and course material</h2>
<p> <%= link_to "A full description", document_by_name("L-pres.pdf") %> of the three degree courses of the Department of History, including outline programmes and ECTS details, is available in PDF format (French only). There is a <%= link_to "course guide", document_by_name("L-guide.pdf") %> with detailed descriptions of all the individual units of the History – Historical Sciences and History – Geography minor course and a <%= link_to "separate guide", document_by_name("L-HISS-guide.pdf") %> for the History, Institutions and Social Sciences course. Only units taught by a member of the Department of History are included (French only). There is currently no course description for the one-year diploma, but a  <%= link_to "flyer", document_by_name("LPro-flyer.pdf") %> with contact details of Danielle Bégot (History) and Françoise Pagney (Geography) is available for download.</p>
