<h1>Information for UAG teaching staff</h1>
<%= image_tag "Galati-exchange.jpg", :class => "right" %>
<p>Outgoing colleagues of the department should note that it is their own responsibility to organise their stay at a partner department (dates, academic programme and accommodation) with the relevant academic contact. The departmental Socrates coordinator however will assist in providing contact information. As a matter of general principle the organisation of an academic exchange should start as early as possible, ideally at the beginning of the academic year. Funds for Socrates exchanges at the UAG institutional level are not unlimited, and are attributed by the <a href="http://www2.univ-ag.fr/UAG/index.php?option=com_content&amp;task=view&amp;id=40&amp;Itemid=9" title="UAG">BRI</a> on a first come first served basis. Funding of outgoing Socrates teaching staff mobility will be at approximately 500 euro, plus 350 euro per week of exchange.</p>

<p>All relevant documents can be downloaded from this site and should <a href="mailto://hziche@martinique.univ-ag.fr?subject=feedback">submitted to the departmental Socrates coordinator</a> or directly to the <a href="mailto://bri@univ-ag.fr?subject=feedback">BRI</a> at the Fouillole campus as early as possible. The Socrates Contract form is to be submitted well before leaving for a partner university, the report, as well as the confirmation of teaching carried out, duly signed and stamped by a representative of the partner university, are to be submitted to the <a href="mailto://bri@univ-ag.fr?subject=feedback">BRI</a> upon return.</p>
<p><%= link_to "All relevant forms for Teaching Staff Mobility can be downloaded here.", groupe_documents_url  %></p>
<blockquote><p>«Ἄνδρα μοι ἔννεπε, Μοῦσα, πολύτροπον, ὃς μάλα πολλὰ πλάγχθη...· πολλῶν δ’ ἀνθρώπων ἴδεν ἄστεα καὶ νόον ἔγνω,
πολλὰ δ’ ὅ γ’ ἐν πόντῳ πάθεν ἄλγεα ὃν κατὰ θυμόν.»</p></blockquote>