<dl>
	<dt><%= link_to "Activités de recherche".t	, :controller => "pages", :action => "recherche" %></dt>
	<dd>
		<ul>
			<li style="list-style-type: none;"><%= link_to "Archéologie".t,:controller => "pages", :action => "archeologie" %></li>
		</ul>
	</dd>
</dl>