<h2>Les universités européennes partenaires du Département d’Histoire</h2>

<p>La liste qui suit présente les universités partenaires avec lesquelles les étudiants peuvent d’ores et déjà faire un échange dans le cadre Socrates. Chaque fois que cela a été possible, nous indiquons un lien vers la page web des Départements, afin d’aider les étudiants d’Histoire de l’U.A.G. à choisir l’université qui convient le mieux à leur projet d’études ou à leur intérêt personnel. </p>
<p><strong>Notez</strong> que certains contrats Socrates ne permettent pas un échange au niveau Master ou Doctorat. Soyez prudents également : la durée d’une « année » universitaire est parfois variable en fonction des universités. C’est un point qui est important, car les bourses Socrates sont accordées pour une durée précise. En général, cependant, des aménagements et une relative souplesse sont possibles. Gardez également présent à l’esprit que la période minimum, pour un échange, est d’un semestre dans la plupart des universités, et que le maximum ne peut excéder une année.</p>
<p>Le nombre de places disponibles par université est limité, il peut donc y avoir une sélection des candidats au départ. Si toutefois, la demande vers une université s’avère importante et excède l’offre, le Département d’histoire pourra renégocier avec l’établissement concerné le nombre de place d’accueil (il faudra alors signer un nouveau contrat) ou « emprunter » quelques places laissées inutilisées par d’autres Département de l’UAG qui auraient des liens avec cette université.<p>
	<p>
Actuellement des étudiants européens provenant de différents établissements supérieurs suivent certains cours dans notre Département, et plus généralement, dans l’ensemble la Faculté des Lettres et Sciences humaines. Nous invitons tous nos étudiants à faire leur connaissance et à leur demander des renseignements : nos étudiants Socrates constituent en effet sans doute une source d’information de première main sur l’enseignement de l’Histoire dans leur université d’origine.</p>