<h1>Student life at the UAG and the Department.</h1>
<%= image_tag "vie_campus.jpg", :class => "right" %>
<p>Both Martinique and Guadeloupe are popular tourist destinations with numerous tropical beaches, palm trees, coral reefs, etc., etc. There are all kinds of watersports, as well as hiking. You can visit rum distilleries as well as former colonial plantations. Nightlife in Fort de France (and even more so in Schoelcher) is fairly limited, but there are a range of bars and clubs to keep you entertained on weekends. And of course: if you are here during the right season you can enjoy four days of sleepless carnival madness.</p>
	<p>
However, we would like to stress that despite all the fun available, the terms at the UAG are relatively short and the pace of courses very demanding. The Department of History aims for a high level of academic achievement, and in order to keep up, a lot of your time with us will have to be spent in lecture rooms and in the university library. Also note that the teaching language of our Department is exclusively French (as are the exams...).</p>
<p>Lectures and classes run from 7.30 to 19.30 from Monday to Friday and from 7.30 to 12.30 on Saturdays. Given the limited availability of teaching rooms you should expect your lectures to be widely spaced across days and possibly from the early morning to the early evening. Thus, even if you choose not to live on or near the Campus you will spend the major part of your day somewhere around the Department.</p>
<%= image_tag "vaval.jpg", :class => "left" %>
<p>The Campus is predominantly French, with again a vast majority of local students. Thus, whether you actively try to stand out or not, our local students will notice you, and you should be able to quickly meet new people and make friends. We also hope that by your presence you will make a contribution to the internationalisation of our Department, introducing new ideas and new points of view to advance historical research.</p>
<p>It is possible, but not entirely likely, that the CROUS will be able to find you accommodation on Campus. However, accomodation in Schoelcher and in Fort de France is readily available and, together with the International Office, the Department will make an effort  to help you if you encounter difficulties. In any case, upon arrival the International Office will provide accommodation for a short period, even if you need to look for permanent accomodation yourself.</p>
<p>One last word on practicalities, life in the Antilles is unfortunately quite expensive, you should rather expect prices like in Paris than prices like in the more touristy islands, the Dominican, say (rum, though, is cheap). If you are looking for a part-time job (something perhaps not very advisable given the demands of studying), you should take into consideration the fact that the availability of part-time jobs is quite high during the tourist season, starting in October/November, and quite low during off-season.</p>