<div id="left">
	<%= image_tag "montages.jpg", :alt => "Département d'Histoire de l'Université des Antilles et de la Guyane".t %>
</div>
<div id="right">
	<%= render :partial => "index_#{session[:locale]}" %>
</div>
<hr/>