<%= render :partial => 'shared/menu_formation' %>

<div id="contenu">
<%= error_messages_for :enseignement %>

<% form_for(:enseignement, :url => enseignements_path) do |f| %>

<%= render :partial => 'form' , :locals => { :f => f } %>
  <p>
    <%= submit_tag "Créer le nouvel enseignement" %><a href="http://www.siriel.info/misc/guide-styles.html">Comment Formater</a>
  </p>
<% end %>
</div>