<%= image_tag "ordi_sellaye.png", :class => "right" %>
<p>Despite its location in the Carribean, with campuses on Martinique and Guadeloupe, the <a href="http://www.univ-ag.fr/">UAG</a> is a European university fully integrated into the Socrates (Erasmus) programme. The Department of History offers some courses which deal specifically with Caribbean and American history – with topics ranging from colonisation to plantation societies – but we also offer a full range of general history courses, from ancient to contemporary, which you would expect at a French-speaking university on the mainland. We currently offer three <%= link_to "Bachelor", :controller => "pages", :action => "formations" %> courses (two at our campus in Martinique, one in Guadeloupe), a <%= link_to "one-year diploma",  document_by_name("LPro-flyer.pdf") %>, as well as two <%= link_to "Master courses", :controller => "pages", :action => "master" %>.</p>
<p>The Department of History prides itself to be dynamic, well-organised and we are confident to be able to keep up with the cutting edge in teaching and research in History. However, we are also a relatively small Department with only around 300 students and thus contacts between students and, of course, contacts between students and teaching staff are much closer than in many larger universities. Both Martinique and Guadeloupe are relatively small islands and many members of the Department, both student and staff, can be found on Campus every day. Indeed, we are proud to be able to offer a degree of advice and supervision to our students which is well above the usual level of most French universities.</p>
<%= image_tag "soufriere.jpg", :class => "left" %>
<p>Currently the Department has signed contracts for student exchange and cooperation with the Universities of <a href="http://www.uah.es/">Alcala </a>(ESP) <a href="http://www.uc.pt/">Coimbra</a> (PT), <a href="http://www.uni-freiburg.de/">Freiburg</a> (DE), <a href="http://www.udl.es/">Lleida</a> (ESP), <a href="http://www.uclouvain.be/">Louvain</a> (BE), <a href="http://www.ugal.ro">Galaṭi</a> (RO), <a href="http://www.ulpgc.es/">Las Palmas</a> (ESP), <a href="http://www.uni-plovdiv.bg/">Plovdiv</a> (BG), <a href="http://www.uni-siegen.de/uni/universitaet/">Siegen</a> (DE), as well as the University of Education Karlsruhe <a href="http://www.ph-karlsruhe.de">Karlsruhe</a> (DE).
	Students from Freiburg, Galaṭi, Geneva, Karlsruhe, London, Siegen and Tübingen have been enrolled in the Bachelor programme of the Department in 2006/7. If you are interested in coming here, but your university has no agreement with us, please talk to your local Socrates coordinator. The Department of History is always interested in extenting the range of our cooperation agreements.</p>

<p>If you have any questions about courses at our department, about life as a Socrates student at the UAG or any other related topic, please contact our department Socrates coordinator <%= link_to "Hartmut Ziche", enseignant_path(:id => enseignant_by_name("Ziche"))%>.
<br/>
The International Office (BRI) maintains its own page <a href="http://www.univ-ag.fr/rel_etrangers.htm">with practical information for incoming students</a>.</p>
