<h2>The European partner universities of the Department of History</h2>
<p>The following lists shows the partners of the Department of History with which student exchange, within the Socrates framework, is currently operational. Where possible we also indicate a departmental web page to help historians at the UAG to select a university which is best suited to their academic and personal interests. Please note that not all Socrates contracts allow for Master and Doctoral students to stay with one of our partner universities. Please note also that in principle the definition of one academic "year" varies between universities, this may have implications for the duration for which a Socrates scholarship can be granted. Still, in many cases this can be handled fairly flexibly, keeping in mind however that the minimum period of exchange is one semester (how ever this is defined by the partner university) and the maximum period cannot exceed one calendar year.</p>
<p>The number of places available per university is limited and thus the selection of candidates may be competitive. However, if there is overwhelming interest for one university or another, the Department of History will endeavour either to increase the number of places available under a given agreement, or possibly "borrow" unused slots from other departments which may have links with the same university. As stated above, we consider it vitally important for all our students to participate in academic exchange. Thus we hope that demand will indeed exceed offers, giving us a motivation and justification to seek further partners.<br/>
Students of various European universities are at the Department at any time, we invite all our local students to get in touch with them as a most valuable first-hand source of information aboutf History at their home university.</p>