<dl>
	<dt><%= link_to "Documents Administratifs".t, groupe_documents_url  %></dt>
	<dd>
		<ul>

			<li style="list-style-type: none;">
				<%= link_to "Tous les documents".t,  documents_url %>
			</li>
		</ul>
	</dd>
</dl>