<h1>Editing universite</h1>

<%= error_messages_for :universite %>

<% form_for(:universite, :url => universite_path(:id => @universite), :html => { :method => :put , :multipart => true }) do |f| %>
<%= render :partial => 'form'  , :locals => { :f => f } %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>
<%= link_to "Universitées Partenaires", :controller => "pages", :action => "partenaires" %>